name: build image

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: docker setup qemy
        uses: docker/setup-qemu-action@v3.7.0

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: login to quay
        uses: docker/login-action@v3.4.0
        with:
          username: "${{ vars.QUAY_USERNAME }}"
          password: "${{ secrets.QUAY_PASSWORD }}"
          registry: quay.io

      - name: set tags
        shell: bash
        run: |
          if [ "${GITHUB_REF_NAME}" == 'main' ]; then
            echo TAGS="quay.io/artgish/trivy-viewer:main" >> $GITHUB_ENV
          else
            echo TAGS="quay.io/artgish/trivy-viewer:latest,quay.io/artgish/trivy-viewer:${GITHUB_REF_NAME}" >> $GITHUB_ENV
          fi

      - name: build and push
        uses: docker/build-push-action@v6.18.0
        with:
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ env.TAGS }}
